body {
    font-family: sans - serif;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border - box;
 }
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-track {
    background: #2d2733;

}
::-webkit-scrollbar-thumb {
    background: #555;

}
::-webkit-scrollbar-thumb:hover {
    background:#dcbfff;

}
.world-map{
    position: absolute;
    top: 0;
    left: 0;
    width: max-content;
    height: max-content;
    min-height: 30 em;
    background-color: #151218;
    display: flex;
    justify-content: center;
    align-items: center;

}
svg {
   width: 100vw;
    height: 100vh;

}
/* hovering part */
path {
    fill: #443d4b;
    stroke: #dcbfff;
    transition: 100ms;
}
path:hover { 
    fill: #c99aff;
}
.side-panel {

    position: fixed;
    background-color:#1d1a20;
    padding: 2em;
    top: 0;
    left: -30em;
    width: 100%;
    max-width: 30em;
    height: 100vh;
    transition: 
    600ms cubic-bezier(0.77, 0, 0.18,1);
    overflow: scroll;
    z-index: 1;

}


.side-panel.container {
    padding-block: 2em;
}
.side-panel-open {left: 0;}
.hide {opacity: 0;}
.close-btn{
    position: absolute;
    top: 0;
    right: 0;
    width: 5em;
    border: none;
}
